@model GeoHelper.Models.UsersProjects

@{
    ViewData["Title"] = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Kolaborant w projekcie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("ID projektu")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.projectId)
        </dd>
        <dt>
            @Html.DisplayName("Kolaborant")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edytuj</a> |
    <a asp-action="Index" asp-route-id="@Model.projectId">Powrót do listy</a>
</div>
