@model IEnumerable<GeoHelper.Models.UsersProjects>

@{
    ViewData["Title"] = "Index";
}

<h2>Kolaboranci w Twoim projekcie</h2>

<p>
    <a asp-action="Create">Dodaj nowego kolaboranta</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayName("Id projektu")
                </th>
                <th>
                    @Html.DisplayName("Użytkownik")
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.projectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
