@model IEnumerable<GeoHelper.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h2>Twoje projekty</h2>

<p>
    <a asp-action="Create">Utwórz nowy projekt</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayName("Właściciel")
                </th>
                <th>
                    @Html.DisplayName("Nazwa")
                </th>
                <th>
                    @Html.DisplayName("Opis")
                </th>
                <th>
                    @Html.DisplayName("Układ odniesienia")
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frameOfReference)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a> |
                <a asp-controller="UsersProjects" asp-action="Index" asp-route-id="@item.ID">Kolaboranci</a> |
                <a asp-controller="Points" asp-action="Index" asp-route-id="@item.ID">Punkty projektu</a>

            </td>
        </tr>
}
    </tbody>
</table>
