@model GeoHelper.Models.AzymutViewModel

@{
    ViewData["Title"] = "Azymut na podstawie dwóch punktów";
}

<h2>Wynik obliczeń</h2>

<div class="row">
    <div class="col-md-7 col-xs-12 text-center" style="float:right;">
        <h3><font color="#800000">Azymut</font></h3>
        <img src="~/images/azymut.png" alt="Azymut" width="400" height="400" />
    </div>
    <div class="col-md-4 col-xs-12">
        <h4>Punkt A</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Nazwa")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name1)
            </dd>
            <dt>
                @Html.DisplayName("x")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.x1)
            </dd>
            <dt>
                @Html.DisplayName("y")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.y1)
            </dd>
        </dl>
        <h4>Punkt B</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Nazwa")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name2)
            </dd>
            <dt>
                @Html.DisplayName("x")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.x2)
            </dd>
            <dt>
                @Html.DisplayName("y")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.y2)
            </dd>
        </dl>
        <div>
            <h4>Azymut</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Wynik")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.score) g
                </dd>
            </dl>
        </div>
    </div>
    </div>
    <div>
        <a asp-action="Azymut">Wykonaj obliczenia ponownie</a>
    </div>
