@model GeoHelper.Models.KatPoziomyViewModel

@{
    ViewData["Title"] = "Kąt poziomy na podstawie trzech punktów";
}

<h2>Wynik obliczeń</h2>
<img src="Images/test.jpg" alt="Sample Photo" width="300px" />
<img src="@Url.Content("C://Users//Kasia//Documents//Visual Studio 2017//Projects//GeoHelper//GeoHelper//Images//test.jpg")" alt="Image" />
<div>
    <h4>Punkt A</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nazwa")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name1)
        </dd>
        <dt>
            @Html.DisplayName("x")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x1)
        </dd>
        <dt>
            @Html.DisplayName("y")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.y1)
        </dd>
    </dl>
</div>
<div>
    <h4>Punkt B</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nazwa")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name2)
        </dd>
        <dt>
            @Html.DisplayName("x")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x2)
        </dd>
        <dt>
            @Html.DisplayName("y")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.y2)
        </dd>
    </dl>
    <h4>Punkt C</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nazwa")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name3)
        </dd>
        <dt>
            @Html.DisplayName("x")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x3)
        </dd>
        <dt>
            @Html.DisplayName("y")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.y3)
        </dd>
    </dl>
    <div>
        <h4>Kąt poziomy</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Wynik")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.score) g
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="KatPoziomy">Wykonaj obliczenia ponownie</a>
</div>
