@model GeoHelper.Models.BiegunowaViewModel
@{
    ViewData["Title"] = "Obliczanie współrzędnych punktu metodą biegunową";
}
@inject SignInManager<ApplicationUser> SignInManager

<h2>Metoda biegunowa</h2>
<h4>Obliczanie współrzędnych punktu metodą biegunową</h4>
<form asp-action="MetodaBiegunowa_wynik">
    <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
            <img src="~/images/test.jpg" alt="Sample Photo" width="300" height="300" />
        </div>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="calculatedX" />
            <input type="hidden" asp-for="calculatedY" />
            <div class="col-md-4 col-lg-4">
                <h3>Punkt A</h3>
                @if (SignInManager.IsSignedIn(User))
            {   <h4>Wybierz punkt do obliczeń z bieżącego projektu</h4>
            <select class="btn btn-default dropdown-toggle" asp-for="@Model.selectedId1" asp-items="@(new SelectList(Model.pointList,"ID", "name"))">
                <option>Wybierz punkt A</option>
            </select>
            <h4>lub wprowadź dowolne wartości:</h4>
                }

                <div class="form-group" width="50px">
                    <label asp-for="name1" class="control-label">Nazwa</label>
                    <input asp-for="name1" class="form-control" />
                    <span asp-validation-for="name1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="x1" class="control-label">x</label>
                    <input asp-for="x1" class="form-control" />
                    <span asp-validation-for="x1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="y1" class="control-label">y</label>
                    <input asp-for="y1" class="form-control" />
                    <span asp-validation-for="y1" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <h3>Punkt B</h3>
                @if (SignInManager.IsSignedIn(User))
            {
                    <h4>Wybierz punkt do obliczeń z bieżącego projektu</h4>
                    <select class="btn btn-default  dropdown-toggle " asp-for="@Model.selectedId2" asp-items="@(new SelectList(Model.pointList,"ID", "name"))">
                        <option>Wybierz punkt B</option>
                    </select>
                    <h4>lub wprowadź dowolne wartości:</h4>
                }

                <div class="form-group">
                    <label asp-for="name2" class="control-label">Nazwa</label>
                    <input asp-for="name2" class="form-control" />
                    <span asp-validation-for="name2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="x2" class="control-label">x</label>
                    <input asp-for="x2" class="form-control" />
                    <span asp-validation-for="x2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="y2" class="control-label">y</label>
                    <input asp-for="y2" class="form-control" />
                    <span asp-validation-for="y2" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <h3>Punkt C</h3>
                @if (SignInManager.IsSignedIn(User))
            {
                    <h4>Wybierz punkt do obliczeń z bieżącego projektu</h4>
                    <select class="btn btn-default  dropdown-toggle " asp-for="@Model.selectedId3" asp-items="@(new SelectList(Model.pointList,"ID", "name"))">
                        <option>Wybierz punkt C</option>
                    </select>
                    <h4>lub wprowadź dowolne wartości:</h4>
                }

                <div class="form-group">
                    <label asp-for="name3" class="control-label">Nazwa</label>
                    <input asp-for="name3" class="form-control" />
                    <span asp-validation-for="name3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="x3" class="control-label">x</label>
                    <input asp-for="x3" class="form-control" />
                    <span asp-validation-for="x3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="y3" class="control-label">y</label>
                    <input asp-for="y3" class="form-control" />
                    <span asp-validation-for="y3" class="text-danger"></span>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3>Kierunki</h3>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label asp-for="kierunek1P" class="control-label">Kierunek P</label>
                <input asp-for="kierunek1P" class="form-control" />
                <span asp-validation-for="kierunek1P" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label asp-for="kierunek12" class="control-label">Kierunek B</label>
                <input asp-for="kierunek12" class="form-control" />
                <span asp-validation-for="kierunek12" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label asp-for="kierunek13" class="control-label">Kierunek C</label>
                <input asp-for="kierunek13" class="form-control" />
                <span asp-validation-for="kierunek13" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12 col-lg-12">
            <h3>Odległości</h3>
        </div>

            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label asp-for="distance1P" class="control-label">Odległość punktu P od punktu A</label>
                    <input asp-for="distance1P" class="form-control" />
                    <span asp-validation-for="distance1P" class="text-danger"></span>
                </div>



            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group  text-center">
            <input type="submit" value="Oblicz" class="btn btn-default btn-sx" />
        </div>
    </div>
</form>
