@model GeoHelper.Models.OdleglosciViewModel

@{
    ViewData["Title"] = "Odległość pomiędzy punktami";
}

<h2>Wynik obliczeń</h2>

<div class="row">
    <div class="col-md-7 col-xs-12 text-center" style="float:right;">
        <h3><font color="#800000">Odległości</font></h3>
        <img src="~/images/odleglosci.png" alt="Odległości" width="400" height="400" />
    </div>
    <div class="col-md-4 col-xs-12">
        <h4>Punkt A</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Nazwa")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name1)
            </dd>
            <dt>
                @Html.DisplayName("x")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.x1)
            </dd>
            <dt>
                @Html.DisplayName("y")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.y1)
            </dd>
        </dl>

        <h4>Punkt B</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Nazwa")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name2)
            </dd>
            <dt>
                @Html.DisplayName("x")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.x2)
            </dd>
            <dt>
                @Html.DisplayName("y")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.y2)
            </dd>
        </dl>
        <div>
            <h4>Odległość</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Wynik")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.score)
                </dd>
            </dl>
        </div>
    </div>
</div>
    <div>
        <a asp-action="Odleglosci">Wykonaj obliczenia ponownie</a>
    </div>
