@model GeoHelper.Models.ZmianaMiarKatowychViewModel

@{
    ViewData["Title"] = "Zmiana miar kątowych";
}

<h2>Wynik obliczeń</h2>

<div class="row">
    <div class="col-md-7 col-xs-12 text-center" style="float:right;">
        <h3><font color="#800000">Zmiana miar kątowych</font></h3>
        <img src="~/images/zmianaMiar.png" alt="Zmiana miar kątowych" width="400" height="400" />
    </div>
    <div class="col-md-4 col-xs-12">
        <h4>Kąt</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Rodzaj zamiany")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.selectedTypeOfChange)
            </dd>
        </dl>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Nazwa")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>
            </dl>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Podana wartość")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.value)
                    </dd>
                </dl>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Obliczona wartość")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.result)
                        </dd>

                    </dl>

    </div>
</div>
    <div>
        <a asp-action="ZmianaMiarKatowych">Wykonaj obliczenia ponownie</a>
    </div>
