@model GeoHelper.Models.Point

@{
    ViewData["Title"] = "Usuń";
}

<h2>Usuń</h2>

<h3>Jesteś pewny, że chcesz usunąć ten punkt??</h3>
<div>
    <h4>Punkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nazwa")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.y)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.y)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.z)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.z)
        </dd>
        <dt>
            @Html.DisplayName("Id projektu")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.projectId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="Index" asp-route-id="@Model.projectId">Powrót do listy punktów projektu</a>
    </form>
</div>
