@model GeoHelper.Models.Point

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Punkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nazwa")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.y)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.y)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.z)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.z)
        </dd>
        <dt>
            @Html.DisplayName("Id projektu")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.projectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edytuj</a> |
    <a asp-action="IndexCurrentProject">Powrót do listy punktów</a>
</div>
